<button {{action 'goBack'}}>Pop Nav Stack (go back)</button>

<p>auth: {{auth.name}} {{auth}}</p>
<p>url: {{myRouter.url}}</p>

{{x-foo numChildren=3}}

<ul>
  <li>
    <a href="#" {{action 'push' 'demo/sign-in'}}>Sign-In</a>
  </li>
  <li>
    <a href="#" {{action 'push' 'demo/users/amatchneer/posts'}}>amatchneer posts</a>
  </li>
  <li>
    <a href="#" {{action 'push' 'demo/users/machty/posts'}}>machty posts</a>
  </li>
  <li>
    <a href="#" {{action 'push' 'demo/users/rwjblue/posts'}}>rob's posts</a>
  </li>
</ul>