<h2 id="title">ember-constraint-router demo</h2>

<p>
  simulate websocket events that update the state of your app;
  internally these just do .set()s on the model property of
  the 'current-user' and 'current-ride' services.
</p>

<p>

  <button {{action 'simulateLogin'}}>Simulate User Login</button>
  <button {{action 'simulateLogout'}}>Simulate User Logout</button>

  <button {{action 'simulateRiding'}}>Simulate Riding</button>
  <button {{action 'simulateRideComplete'}}>Simulate Ride Complete</button>
  <button {{action 'simulateNotRiding'}}>Simulate Not Riding</button>
</p>

<h4>Current Ride model</h4>

<pre style="height: 60px;">{{currentRide.rideJson}}</pre>

<ul>
  <li>
    Constrained routes (these routes can only be entered
    when the current-ride service is in a certain state):
  </li>

  <ul>
    <li>
      {{link-to 'login' 'login'}}
    </li>
    <li>
      {{link-to 'request-ride' 'request-ride'}}
    </li>
    <li>
      {{link-to 'riding' 'riding'}}
    </li>
    <li>
      {{link-to 'ride-complete' 'ride-complete'}}
    </li>
  </ul>

  <li>
    Unconstrained routes:
  </li>

  <ul>
    <li>
      {{link-to 'index' 'index'}}
    </li>
  </ul>
</ul>

currentRoute={{currentRouteName}}
<div class="mobile-frame">
  {{outlet}}
</div>
